@import "tailwindcss";
@import 'mapbox-gl/dist/mapbox-gl.css';
html,
body,
#__next {
  height: 100%;
  min-height: 100vh;
  background: #18191A;
}

body {
  color: #fff;
  font-family: Inter, Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  background: #222327;
}

::-webkit-scrollbar-thumb {
  background: #323436;
  border-radius: 4px;
}